/* header {
    background-image: url("images/office-desk-banner.jpg");
    background-size: 100%;
    display: block;
} */



table {
    width:95%;
    margin:auto;
}

h1 {
    font-style: italic;
    font-size: 50px;
    text-align: center;
    background-image: url("images/office-desk-banner.jpg");
    background-size: 100%;
    display: block;
    padding: 40px;
    margin:0;
}

h2, h3{
    text-align: center;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

main p, main li, th {
    font-size: 18px;
}

td {
    font-size: 16px;
}


body {
    max-width:920px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7aa;
    margin:auto;
    line-height: 1.6;
}


header {
    width:100%;
}

main {
    width:100%;
    margin:auto;
}

footer {
    width:100%;
    font-size: 14px;
    margin:auto;
    padding-right:20px;
}

/* Reference for top navigation bar styling https://www.w3schools.com/howto/howto_js_topnav.asp */
/* Styling for nav bar*/
nav {
    overflow: hidden;
    background-color: #b3b3b3;
}
/* Styling for nav bar links */
nav a{
    color: black;
    float:left;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}
/* styling for when mouse hovers over menu item */
nav a:hover {
    background-color: #bebebe;
    color: black;
}
/* styling for active nav element */
nav a.active {
    background-color: #a50000;
    color: white;
}
/* end of nav bar styling */

.bodycontent{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top:10px;
    padding-bottom:10px;
    margin-left:auto;
    margin-right:auto;
}

#forestImg {
    width:100%;
}

#productsTable, #asSeenOnTable {
    text-align: center;
}

#testimonialsTable, #ourTeamTable {
    text-align:left;
}

#testimonialsTable th, #testimonialsTable td, #ourTeamTable th, #ourTeamTable td{
    padding:20px;
}

#testimonialsTable td {
    font-style: italic;
}

#companyFooter {
    font-weight: bold;
}

#ceoStatement, #market, #overview, #whyInvest, #ourMission, #benefits, #opportunities, #jobApplication, #paperHome{
    display: block;
    width:90%;
}

#interns {
    display: block;
    width:50%;
    margin: auto;
}

#jobApplicationForm, #contactForm {
    width:100%;
    margin:25px;
}

#michaelImg, #whyInvestImg, #earningsImg, #careerbanner {
    width:100%;
}

#internsImg {
    width:100%;
}

/* Reference for button styling https://www.w3schools.com/css/css3_buttons.asp */
#whyInvestButton, #submitApplicationButton, #exampleSubmitButton, #submitContactButton {
    border: none;
    background-color: #a50000;
    color:#ffffff;
    padding: 12px 20px;
    text-align: center;
    font-size:15px;
    font-weight: bold;
}

#whyInvestButton:hover, #submitApplicationButton:hover, #exampleSubmitButton:hover, #submitContactButton:hover {
    background-color: #cf0404;
}


#interestInvest {
    text-align: center;
}

.headerImg {
    width:100%;
    margin-top: 10px;
    padding-top:10px;
}

.mspcImg {
    width:100%;
}

.companylogo {
    width:30%;
}

.employeeImg {
    width:100%;
    min-width: 150px;
}

.productImg {
    max-width: 100%;
}

.asSeenImg {
    max-width: 100%;
    min-width: 150px;
    width: 50%;
}

.jobApplicationInput, .contactInput {
    margin-bottom: 20px;
}

.companyAddress {
    margin: 0 auto;
    width: 100%
}