/* header {
    background-image: url("images/office-desk-banner.jpg");
    background-size: 100%;
    display: block;
} */

table {
    width:100%;
}

h1 {
    font-style: italic;
    font-size: 50px;
    text-align: center;
    background-image: url("images/office-desk-banner.jpg");
    background-size: 100%;
    display: block;
    padding: 40px;
}

h2, h3 {
    text-align: center;
}

body {
    max-width:960px;
    font-family: Helvetica, sans-serif;
    margin:auto;
    padding:20px;
    background-color: #f7f7aa;
}

header {
    width:100%;
}

main {
    width:100%;
}

footer {
    width:100%;
    font-size: 14px;
}

/* Reference for top navigation bar styling https://www.w3schools.com/howto/howto_js_topnav.asp */
/* Styling for nav bar*/
nav {
    overflow: hidden;
    background-color: #b3b3b3;
}
/* Styling for nav bar links */
nav a{
    color: black;
    float:left;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}
/* styling for when mouse hovers over menu item */
nav a:hover {
    background-color: #bebebe;
    color: black;
}
/* styling for active nav element */
nav a.active {
    background-color: #a50000;
    color: white;
}
/* end of nav bar styling */

#products, #asSeenOn, #testimonials, #ourTeam, #jobApplication{
    margin-top: 75px;
    margin-bottom: 75px;
}

#productsTable, #asSeenOnTable {
    text-align: center;
}

#testimonialsTable, #ourTeamTable {
    text-align:left;
}

#testimonialsTable th, #testimonialsTable td, #ourTeamTable th, #ourTeamTable td{
    padding:20px;
}

#testimonialsTable td {
    font-style: italic;
}

#companyFooter {
    font-weight: bold;
}

.companylogo {
    width:30%;
}

.employeeImg {
    width:100%;
    min-width: 150px;
}

.productImg {
    max-width: 100%;
}

.asSeenImg {
    max-width: 100%;
    min-width: 150px;
    width: 50%;
}

.jobApplicationInput {
    margin-bottom: 20px;
}

.companyAddress {
    margin: 0 auto;
    width: 100%
}